/* General styles */
body {
    font-family: 'Press Start 2P', sans-serif;
    background: linear-gradient(to right, #76b852, #8DC26F);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1, h2, p {
    font-family: 'Press Start 2P', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: auto;
}

#instructions {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Game board styles */
#game-board {
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

/* Game over text styles */
#game-over-text {
    font-size: 24px;
    color: red;
    text-align: center;
    display: none;
}

/* Score panel styles */
#score-panel {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Adjustment for spacing issue inside score panel*/
#score-panel div:first-child {
    margin-right: 100px;
}

/* General snake and food styles */
.snake-segment,
.food {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 5px;
}

/* Food color */
.food {
    background-color: #FF5722;
    border-radius: 50%;
}

/* Snake color */
.snake-segment {
    background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}
